@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,700&display=swap');
body {
    background-color: black;
    color:ivory;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    dispaly: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition all 1s;
     /* transition: all 1s; */
}

/* @media(prefers-reduced-mption) {
    .hidden {
        transition: none;}*/
.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0)
}